.content {
    width: 81vw;
    height: 92vh;
    position: absolute;
    top: 4vh;
    right: 2vw;
    display: grid;
    /* margin: 0 -1%; */
    grid-template-rows: 20vh 34vh 34vh;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px; 
}
.bill {
    grid-column: 1/3;
    padding-top: 7%;
}
.bill h5 {
    font-size: 1rem;
    padding-bottom: 2%;
    color:rgba(0, 0, 0, 0.603);
}
.outstanding {
    background-color: rgb(74, 86, 246);
    grid-column: 3/-1;
}
.profit {
    background-color: blueviolet;
    grid-column: 1/-1;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.invoices {
    background-color: coral;
    grid-column: 1/4;
}
.work {
    background-color: chartreuse;
}
.due {
    display: flex;
    justify-content: space-between;
}
.due-items p {
    color: rgba(0, 0, 0, 0.431);
    padding-top: 1%;
}
.graph{
    height: 100%;
    width: 20vw;
    grid-column: 1/2;
}
.expense {
    grid-column: 3/5;
    display: flex;
    align-self: flex-end;
    justify-self:flex-end;
    /* height: 100%; */
    /* width: 60%; */
    /* position: absolute; 
    right: 0; */
    /* justify-content: flex-end; */
    /* width: 60vw; */
    /* align-items: flex-end; */
    /* position: relative;
    top: 15%; */
}
