.content {
    width: 81vw;
    height: 92vh;
    position: absolute;
    top: 4vh;
    right: 2vw;
    display: grid;
    /* margin: 0 -1%; */
    grid-template-rows: 20vh 34vh 34vh;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px; 
}
.bill {
    grid-column: 1/3;
    padding: 5% 8% 5% 0;
}
.bill h5 {
    font-size: 1.2rem;
    padding-bottom: 2%;
    color:rgba(0, 0, 0, 0.603);
}
.outstanding {
    background-color: rgb(74, 86, 246);
    grid-column: 3/-1;
}
.profit {
    /* background-color: blueviolet; */
    grid-column: 1/-1;
    grid-row: 2/3;
    display: flex;
}
.invoices {
    background-color: coral;
    grid-column: 1/4;
}
.work {
    /* background-color: chartreuse; */
    background-image: url(../assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.work-txt {
    font-size: 0.9rem;
    width: 62%;
    color: white;
    padding: 7%;
}
.due {
    display: flex;
    justify-content: space-between;
}
.due-items h1 {
    margin-bottom: 4%;
}
.due-items p {
    color: rgba(0, 0, 0, 0.431);
    padding-top: 1%;
}
.graph{
    height: 100%;
    width: 31vw;
    grid-column: 1/3;
    margin-right: 40px;
}
.expense {
    grid-column: 3/5;
    display: flex;
    /* align-self: flex-end; */
    /* justify-self:flex-end; */
    width: 45vw;
    height: 100%;
    flex-direction:column;
    position: relative;
    right: -5%;
    
    /* height: 100%; */
    /* width: 60%; */
    /* position: absolute; 
    right: 0; */
    /* justify-content: flex-end; */
    /* width: 60vw; */
    /* align-items: flex-end; */
    /* position: relative;
    top: 15%; */
}
.expense-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 1%;
}
.expense-title .search-icon {
    position: relative;
    right: 5%;
}
.card {
    display: flex;
    justify-content: space-between;
}

.graph-title {
    display: flex;
    align-items: flex-end;
}
.graph-title span {
    align-self: flex-end;
    position: relative;
    left: 3%;
    bottom: 2%;
    color: rgba(0, 0, 0, 0.404);
}
.graph-title h1 {
    position: relative;
    top: 1%;
    align-self: flex-end;
}
.invoice-title {
    display: flex;
    align-items: flex-end;
}
.invoice-title span {
    align-self: flex-end;
    position: relative;
    left: 2%;
    bottom: 2%;
    color: rgba(0, 0, 0, 0.404);
}
.invoice-title h1 {
    position: relative;
    top: 1%;
    align-self: flex-end;
}

.boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.boxes .box {
    background-color: cadetblue;
    padding: 2%;
}
.box1-icon {
    /* height: 116%;
    width: 110%; */
}